*{
    margin: 0;
    padding: 0;
}

body{
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(232, 125, 125));
    color: black;
    transition: .5s;
}

input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: rgb(7, 90, 122);
    outline: none;
    border-radius: 10px;
    transition: .5s ease;
    cursor:pointer;
}

input[type="checkbox"]:checked{
    background-color: skyblue; 

}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .5s ease;
}

input[type="checkbox"]:checked::before{
    transform: translateX(20px);
}

.dark{
    background-color: rgb(203, 243, 46);
    color: white;
}

#icon{
    width: 100px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

.navbar{
    height: 100vh;
    width: 100%;
    background: white;
    font-family: sans-serif;
    position: relative;   
}

nav{
    width: 100%;
    margin: auto;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px;   
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: black;
}

.contents{
    position: fixed;
    top: 270px;
    left: 900px;
    margin: -650px;
    padding: 20px;
    text-align: left;
    font-family: serif;
    width: 50%;
    height: 20px;
    margin-top: -100px;
}

.contents-item{
    float: left;
    margin-right: 0px;
}

.contents-item p{
    font-size: 25px;
    margin-top: 20px;
}

.header{
    text-align: left;
    position: relative;
    margin-left: 65%;
    margin-top: 215px;
    transform: translate(-50% ,-50%);
}

.header h2{
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
}

header span{
    color: white;
}

.header p{
    color: white;
    line-height: 22px;
}

.header a{
    background: white;
    padding: 10px 18px;
    text-decoration: none;
    color: rgb(86, 202, 19);
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;  
}

.about{
    height: 500px;
    margin-top: 100px;
    margin-left: 20%;
}

.about-title {
    border-bottom: 3px solid white;
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: white;
}

.foto{
    margin-top: 20px;
    margin-right: 1050px;
    float: right;
}

.informasi {
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: sans-serif;
    float: center;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.menu {
    height: 500px;
    margin-top: 50px;
}

.menu-title {
    border-bottom: 3px solid white;
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    flex-grow: 0;
    color: white;
}

.container-img{
    font-size: 20px;
    color: white;
}

.container {
    float : left;
    margin-right: 50px;
    margin-left: 20px;
}

.container p {
    font-size: 20px;
    margin-top: 15px;
    color: white;
}